@using Microsoft.AspNet.Identity
@using Project4Aptech.Models
@{ 
    var logged = (Account)Session["logged"];
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    @if (Session["logged"] != null)
    {
        <li>
            <a>Hello @logged.Customers.Name</a>
        </li>
        <li>
            <a href="/Home/Signout">Sign out</a>
        </li>
    }
    else
    {
        <li>
            <a href="/Home/Login">
                Login
            </a>
        </li>
    }
</ul>
}
