@{
    ViewBag.Title = "About";
}
<style>
    .full {
        float: left;
        object-fit: cover;
        width: auto;
    }

    .section {
        margin-top: 84px;
    }
</style>
<!-- End Banner -->
<!-- section -->
<div class="section layout_padding about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2>About</h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <p>Tien Phong Commercial Joint Stock Bank (referred to as “TPBank”) was established on May 5, 2008 with the aspiration to become a transparent, efficient, sustainable financial institution with good benefits. for shareholders and customers. TPBank inherits the strengths of modern technology, market experience and financial potential of strategic shareholders, including: DOJI Jewelry Group, FPT Technology Group, National Finance Company. (IFC), Vietnam Reinsurance Corporation (Vinare) and SBI Ven Holding Pte. Ltd., Singapore.</p>
                </div>
                <div class="full paddding_left_15">
                    <a class="main_bt" href="#">Read More ></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full text_align_right_img">
                    <img src="~/Images/img3.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />