@{
    ViewBag.Title = "Contact";
}

<style>
    input {
        color:black;
    }
    .section {
        margin-top: 84px;
    }

    .field input {
        background: white;
    }

    .field textarea {
        background: white;
    }
</style>
<div class="section contact_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="full">
                    <form class="contact_form_inner" action="#">
                        <fieldset>
                            <div class="field">
                                <input type="text" name="name" placeholder="Your name" />
                            </div>
                            <div class="field">
                                <input type="email" name="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <input type="text" name="phone_no" placeholder="Phone number" />
                            </div>
                            <div class="field">
                                <textarea placeholder="Message"></textarea>
                            </div>
                            <div class="field center">
                                <button>SEND</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>